.nav-container {
    background: #333;
    color: #fff;
}

.navbar {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
}

.navbar h4 {
    font-size: 1.6rem;
}
