.button {
    cursor: pointer;
    font-size: 1rem;
    width: 6rem;
    background: #ddd;
    border-radius: 25px;
    border: none;
    padding: 1rem 0;
    transition: all 0.2s ease;
}

.button:hover {
    opacity: 0.8;
}